/* Diagnostic */

* {
    /* outline: 1px dotted darkgray; */
  }
  
  body{
    font-family: 'Share Tech Mono', monospace;
    background: #ffb6b9;
    color: #ffebeb;
  }
  
  /* Dark Mode */
  .dark{
    background: #3c4245;
    color: #dfcdc3;
    transition: background .5s;
  }
  
  /* Clock */
  
  main{
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }